body {
  display: flexbox;
  flex-direction: row;
  width: auto;
  justify-content: center;
}

header, footer {
  text-align: center;
}

main {
  display: flexbox;
}

#tribute-info {
  text-align: center;
  display: flexbox;
  width: 50%;
  justify-self: center;
}

#img-div {
  text-align: center;
}

ul {
  text-align: start;
}

img {max-width:100%;}